---
layout: default
---
<main class="main-content fadeInDown delay_075s">
<!-- Posts em destaque
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Em Destaque</span></h2>
    </div>
    <div class="row">
        {% for post in paginator.posts %}
          {% if post.featured == true %}
            {% include featuredbox.html %}
          {% endif %}

        {% endfor %}
    </div>
</section>


<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Todos os posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

           {% include postbox.html %}

        {% endfor %}

    </div>

</section>
</main>