{% if paginator.total_pages > 1 %}
<nav class="pagination">
    <h2 class="screen-reader-text">Navegação de posts</h2>
    <div class="nav-links">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="newer-posts">&larr; Posts mais recentes</a>
        {% endif %}
        <span class="page-number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="older-posts">Posts mais antigos &rarr;</a>
        {% endif %}
    </div>
</nav><!-- .pagination -->
{% endif %}